@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800");
* {
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.nav {
  display: flex;
  padding: 0 110px;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #FFF;
}

.navLogo {
  margin-right: 36px;
}

.navLogo img {
  width: 72px;
}

.navData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navRoutes a {
  font-size: 22px;
  margin-right: 20px;
  color: #002F9D;
  text-decoration: none;
}

.navLanguage {
  display: flex;
  align-items: center;
  color: #002F9D;
  font-size: 16px;
}

.navLanguage a {
  text-decoration: none;
  color: #002F9D;
}

.navLanguage span {
  margin: 0 20px;
  color: #e6e6e6;
}

.carousel {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.carouselSlide {
  display: flex;
  width: 100%;
  height: 550px;
}

.carouselSlide img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.carouselData {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.carouselText {
  width: fit-content;
  position: absolute;
  width: 400px;
  top: 200px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
}

.carouselText h1 {
  color: #FFF;
  font-weight: bold;
  font-size: 50px;
  line-height: 0.95;
  margin: 0;
}

.carouselText span {
  color: #FFF;
  font-size: 24px;
}

.carouselText .bookNow {
  width: 180px;
  height: 60px;
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  border: none;
  background: #002F9D;
  margin-top: 20px;
  cursor: pointer;
}

.carouselText .bookNow:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #11a7fd;
}

.carouselText .bookNow:active {
  transform: scale(0.9);
}

.carouselButtons {
  width: fit-content;
  position: absolute;
  top: 250px;
  right: 50px;
  z-index: 10;
}

.carouselButtons button {
  width: 50px;
  height: 50px;
  background: none;
  border: 1px solid #FFF;
  border-radius: 50%;
  cursor: pointer;
}

.carouselButtons button:hover {
  border: 2px solid #11a7fd;
}

.carouselButtons button:active {
  border: 2px solid #818181;
}

.carouselButtons button#previous {
  margin: 0 15px 0 0;
}

.fly {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

.fly p {
  color: #818181;
  margin: 0;
}

.fly h2 {
  color: #002F9D;
  font-size: 50px;
  margin: 0;
}

.flyWrapper {
  margin: 50px auto 0;
  width: 100%;
}

.flyRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.rowData {
  max-width: 440px;
  width: 100%;
  display: flex;
  align-items: center;
}

.dataImage {
  max-width: 95px;
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(179, 179, 179, 0.3);
  border-radius: 50px;
  margin: 0 20px 0 0;
}

.dataImage img {
  max-width: 50px;
  max-height: 50px;
  box-sizing: border-box;
}

.dataText h4 {
  margin: 0;
  font-size: 24px;
  color: #002F9D;
  font-weight: normal;
}

.dataText p {
  color: #002F9D;
  font-size: 18px;
  margin-top: 10px;
}

.suggestion {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.suggestion h2 {
  font-size: 32px;
  color: #002F9D;
  margin: 0;
  font-weight: normal;
}

.suggestion a {
  text-decoration: none;
  color: #002F9D;
  border-bottom: 3px dashed #002F9D;
  font-weight: bold;
}

.services {
  background-color: #002F9D;
  padding: 80px 0;
  color: #FFF;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services h2 {
  color: #38bdff;
  font-size: 50px;
  margin: 0;
}

.services p {
  max-width: 630px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.servicesWrapper {
  max-width: 1020px;
  width: 100%;
}

.serviceTabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab {
  width: 100%;
  height: 70px;
  padding: 10px;
  font-size: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  color: #818181;
}

.tab.active {
  border-top: 6px solid #38bdff;
  color: #002F9D;
  font-weight: bold;
}

.contentWrapper {
  display: flex;
}

#regular,
#plus,
#premium {
  background-color: #FFF;
  color: #002F9D;
  padding: 40px 0 40px 70px;
}

#regular a,
#plus a,
#premium a {
  text-decoration: none;
  font-size: 20px;
}

.dataLeft div,
.dataRight div {
  margin: 0 0 20px 0;
}

.contentImage img {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.contentData {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.activData a {
  color: #002F9D;
}

.lockedData a {
  color: #818181;
}

#plus .contentWrapper img {
  object-position: left;
}

footer {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.footerTop {
  background-color: #002F9D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topWrapper {
  max-width: 750px;
  width: 100%;
}

.newsletter {
  padding: 30px;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.newsletter span {
  color: #FFF;
  margin: 0 100px 0 110px;
  font-size: 24px;
}

.newsletter button {
  background-color: transparent;
  border: none;
  color: #FFF;
  font-size: 20px;
  margin-left: -50px;
  cursor: pointer;
  z-index: 20;
}

.newsletter button:active {
  transform: scale(0.8);
}

.inputData {
  height: 40px;
  width: 100%;
  position: relative;
}

.inputData input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  border-bottom: 2px solid #FFF;
  padding: 0 50px 0 0;
}

.inputData input:focus ~ label,
.inputData input:valid ~ label {
  transform: translateY(-30px);
  font-size: 15px;
}

.inputData label {
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 20px;
  color: #FFF;
  pointer-events: none;
  transition: all 0.3s ease;
}

.inputData .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.inputData .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #11a7fd;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.inputData input:focus ~ .underline:before,
.inputData input:valid ~ .underline:before {
  transform: scaleX(1);
}

.socials {
  padding: 0 110px 0 0;
}

.socials .socialsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials .socialsWrapper span {
  color: #FFF;
  font-size: 24px;
  margin: 0 20px 0 0;
}

.socials .socialsWrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(117, 117, 117, 0.5);
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.socials .socialsWrapper a:nth-child(4) {
  margin: 0;
}

.socialImg {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
}

.fb {
  background-image: url("../images/fb.png");
  width: 12px;
}

.tw {
  background-image: url("../images/tw.png");
}

.ig {
  background-image: url("../images/ig.png");
}

.footerBottom {
  padding: 40px 110px;
}

.bottomWrapper {
  display: flex;
  justify-content: space-between;
}

.bottomWrapper .cards {
  display: flex;
}

.bottomWrapper .cards .card {
  margin: 0 20px 0 0;
}

.policies {
  display: flex;
  align-items: center;
}

.policies a {
  color: #818181;
  text-decoration: none;
}

.policies a:first-child {
  margin: 0 15px 0 0;
}

.inputData .failure {
  color: rgba(255, 0, 0, 0.6);
}

.inputData .success {
  color: rgba(0, 255, 0, 0.6);
}
/*# sourceMappingURL=main.css.map */