@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800");
$fontColorBlue:#002F9D;
$fontColorBlueLight:#11a7fd;
$ColorBlueLight:#38bdff;
$fontColorWhite:#FFF;
$fontColorGray:#818181;
$fontColorGrayLight:rgba(179,
179,
179,
0.3);
* {
    outline: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

// .wrapper {
//     min-height: 290vh;
// }
.nav {
    display: flex;
    padding: 0 110px;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $fontColorWhite;
}

.navLogo {
    margin-right: 36px;
    & img {
        width: 72px;
    }
}

.navData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navRoutes {
    & a {
        font-size: 22px;
        margin-right: 20px;
        color: $fontColorBlue;
        text-decoration: none;
    }
}

.navLanguage {
    display: flex;
    align-items: center;
    color: $fontColorBlue;
    font-size: 16px;
    & a {
        text-decoration: none;
        color: $fontColorBlue;
    }
    & span {
        margin: 0 20px;
        color: rgb(230, 230, 230);
    }
}

.carousel {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carouselSlide {
    display: flex;
    width: 100%;
    height: 550px;
}

.carouselSlide img {
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.carouselData {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.carouselText {
    width: fit-content;
    position: absolute;
    width: 400px;
    top: 200px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    & h1 {
        color: $fontColorWhite;
        font-weight: bold;
        font-size: 50px;
        line-height: 0.95;
        margin: 0;
    }
    & span {
        color: $fontColorWhite;
        font-size: 24px;
    }
    .bookNow {
        width: 180px;
        height: 60px;
        color: $fontColorWhite;
        font-size: 24px;
        font-weight: bold;
        border: none;
        background: $fontColorBlue;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            background-color: $fontColorBlueLight;
        }
        &:active {
            transform: scale(0.9);
        }
    }
}

.carouselButtons {
    width: fit-content;
    position: absolute;
    top: 250px;
    right: 50px;
    z-index: 10;
}

.carouselButtons button {
    width: 50px;
    height: 50px;
    background: none;
    border: 1px solid $fontColorWhite;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        border: 2px solid $fontColorBlueLight;
    }
    &:active {
        border: 2px solid $fontColorGray;
    }
    &#previous {
        margin: 0 15px 0 0;
    }
}

.fly {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    & p {
        color: $fontColorGray;
        margin: 0;
    }
    & h2 {
        color: $fontColorBlue;
        font-size: 50px;
        margin: 0;
    }
}

.flyWrapper {
    margin: 50px auto 0;
    width: 100%;
}

.flyRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.rowData {
    max-width: 440px;
    width: 100%;
    display: flex;
    align-items: center;
}

.dataImage {
    max-width: 95px;
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $fontColorGrayLight;
    border-radius: 50px;
    margin: 0 20px 0 0;
    & img {
        max-width: 50px;
        max-height: 50px;
        box-sizing: border-box;
    }
}

.dataText {
    & h4 {
        margin: 0;
        font-size: 24px;
        color: $fontColorBlue;
        font-weight: normal;
    }
    & p {
        color: $fontColorBlue;
        font-size: 18px;
        margin-top: 10px;
    }
}

.suggestion {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    & h2 {
        font-size: 32px;
        color: $fontColorBlue;
        margin: 0;
        font-weight: normal;
    }
    & a {
        text-decoration: none;
        color: $fontColorBlue;
        border-bottom: 3px dashed $fontColorBlue;
        font-weight: bold;
    }
}

.services {
    background-color: $fontColorBlue;
    padding: 80px 0;
    color: $fontColorWhite;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
        color: $ColorBlueLight;
        font-size: 50px;
        margin: 0;
    }
    & p {
        max-width: 630px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
    }
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.servicesWrapper {
    max-width: 1020px;
    width: 100%;
}

.serviceTabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tab {
    width: 100%;
    height: 70px;
    padding: 10px;
    font-size: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $fontColorWhite;
    color: $fontColorGray;
}

.tab.active {
    border-top: 6px solid $ColorBlueLight;
    color: $fontColorBlue;
    font-weight: bold;
}

.contentWrapper {
    display: flex;
}

#regular,
#plus,
#premium {
    background-color: $fontColorWhite;
    color: $fontColorBlue;
    padding: 40px 0 40px 70px;
    & a {
        text-decoration: none;
        font-size: 20px;
    }
}

.dataLeft div,
.dataRight div {
    margin: 0 0 20px 0;
}

.contentImage img {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.contentData {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.activData {
    & a {
        color: $fontColorBlue;
    }
}

.lockedData {
    & a {
        color: $fontColorGray;
    }
}

#plus .contentWrapper img {
    object-position: left;
}

footer {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.footerTop {
    background-color: $fontColorBlue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topWrapper {
    max-width: 750px;
    width: 100%;
}

.newsletter {
    padding: 30px;
    padding-left: 0;
    display: flex;
    align-items: center;
    & span {
        color: $fontColorWhite;
        margin: 0 100px 0 110px;
        font-size: 24px;
    }
    & button {
        background-color: transparent;
        border: none;
        color: $fontColorWhite;
        font-size: 20px;
        margin-left: -50px;
        cursor: pointer;
        z-index: 20;
        &:active {
            transform: scale(0.8);
        }
    }
}

.inputData {
    height: 40px;
    width: 100%;
    position: relative;
}

.inputData input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    background-color: transparent;
    color: $fontColorWhite;
    border-bottom: 2px solid $fontColorWhite;
    padding: 0 50px 0 0;
}

.inputData input:focus~label,
.inputData input:valid~label {
    transform: translateY(-30px);
    font-size: 15px;
    // color: $fontColorBlueLight;
}

.inputData label {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 20px;
    color: $fontColorWhite;
    pointer-events: none;
    transition: all 0.3s ease;
}

.inputData .underline {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
}

.inputData .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: $fontColorBlueLight;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.inputData input:focus~.underline:before,
.inputData input:valid~.underline:before {
    transform: scaleX(1);
}

.socials {
    padding: 0 110px 0 0;
    & .socialsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        & span {
            color: $fontColorWhite;
            font-size: 24px;
            margin: 0 20px 0 0;
        }
        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border: 1px solid rgba(117, 117, 117, 0.5);
            border-radius: 50%;
            margin-right: 10px;
            cursor: pointer;
            &:nth-child(4) {
                margin: 0;
            }
        }
    }
}

.socialImg {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

.fb {
    background-image: url("../images/fb.png");
    width: 12px;
}

.tw {
    background-image: url("../images/tw.png");
}

.ig {
    background-image: url("../images/ig.png");
}

.footerBottom {
    padding: 40px 110px;
}

.bottomWrapper {
    display: flex;
    justify-content: space-between;
    & .cards {
        display: flex;
        & .card {
            margin: 0 20px 0 0;
        }
    }
}

.policies {
    display: flex;
    align-items: center;
    & a {
        color: $fontColorGray;
        text-decoration: none;
        &:first-child {
            margin: 0 15px 0 0;
        }
    }
}

.inputData .failure {
    color: rgba(255, 0, 0, .6);
}

.inputData .success {
    color: rgba(0, 255, 0, .6);
}